<h1>New User</h1>

<%= form_tag('/users') do %>
    <div>
        <%= label_tag(:email, "email") %>
        <%= email_field(:user, :email) %>
    </div>

    <div>
        <%= label_tag(:username, "username") %>
        <%= text_field(:user, :username) %>
    </div>

    <div>
        <%= label_tag(:password, "password") %>
        <%= password_field_tag(:password) %>
    </div>

    <div>
        <%= submit_tag("Create User") %>
    </div>
<% end %>
