<h1>New User</h1>

# <form action="/users" accept-charset="UTF-8" method="post">

#   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

#   <div>
#     <label for="user_email">Email</label><br>
#     <input type="text" name="user[email]" id="user_email">
#   </div>

#   <div>
#     <label for="user_username">Username</label><br>
#     <input type="text" name="user[username]" id="user_username">
#   </div>

#   <div>
#     <label for="user_password">Password</label><br>
#     <input type="password" name="user[password]" id="user_password">
#   </div>

#   <div>
#     <input type="submit" name="commit" value="Create User" data-disable-with="Create User">
#   </div>
# </form>

# <%= form_tag('/users') do %>

#   <div>
#     <%= label_tag(:email, "email") %>
#     <%= email_field(:user, :email) %>
#   </div>

#   <div>
#     <%= label_tag(:username, "username") %>
#     <%= text_field(:user, :username) %>
#   </div>

#   <div>
#     <%= label_tag(:password, "password") %>
#     <%= password_field_tag(:password) %>
#   </div>

#   <div>
#     <%= submit_tag("Create User") %>
#   </div>

# <% end %>

<%= form_with model: @user do |form| %>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email, placeholder: "example@example.com" %>
      <% @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :username, "Your user name here" %><br>
      <%= form.text_field :username %>
      <% @user.errors.full_messages_for(:username).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
      <% @user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>  
  
    <div>
      <%= form.submit "Create User" %>
    </div>
<% end %>
